:root {
  --color-text: #213547;
  --color-background: #ffffff;
  --color-primary: #646cff;
  --color-secondary: #f9f9f9;
  --color-header-bg: #333;
  --color-header-text: white;
  --color-border: #ddd;
  --color-input-bg: white;
}
body.dark {
  --color-text: rgba(255, 255, 255, 0.87);
  --color-background: #242424;
  --color-primary: #535bf2;
  --color-secondary: #1a1a1a;
  --color-header-bg: #1a1a1a;
  --color-header-text: #fff;
  --color-border: #444;
  --color-input-bg: #333;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  

  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-secondary);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--color-text);
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {

}